body {
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */
header h1, h2 {
    color: white;
    /* padding: 4px; */
}

 #bootstrap-override .bands, .game-start, .any-key {
    font-family: Orbitron;
    text-align: center;
    /* margin-right: 13.5%; */
    padding-top: 1%;
    background: black;
}

#bootstrap-override, span {
    
}

#bootstrap-override .row {
    text-align: center;
}



